* {
    margin: 0px;
    padding: 0px;

}

::selection {
    background-color: rgb(215, 240, 239);
    color: rgb(241, 103, 129);
}

body {
    background-color: rgba(255, 232, 199, 0.25);
}

a {
    text-decoration: none;
    color: rgb(250, 222, 199);
}

a:hover {
    transition: color 1s;
    color: rgb(248, 161, 174);
}

header {
    height: 70px;
    background-color: rgb(122, 151, 167);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

p {
    color: rgba(122, 151, 167, 0.8);
    font-size: 25px;
    font-family: 'Nanum Myeongjo', sans-serif;
    font-weight: 600;
    line-height: 45px;
}

.headerwrap {
    width: 1000px;
    margin: 0px auto;
    padding: 5px;
}

.home {
    display: inline-block;
    font-family: 'Song Myung', serif;
    font-size: 35px;
    margin: 8px;

}

.tab {
    display: inline-block;
    font-family: 'Song Myung', serif;
    font-size: 35px;
    margin: 8px 0px 8px 50px;
    float: right;
}

.main {
    width: 1100px;
    height: auto;
    margin: auto;
    padding: 70px 0px 50px;
    font-family: 'Song Myung', serif;
}

.maintext {
    font-size: 60px;
    color: rgb(238, 191, 194);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    margin: 10px 0px 50px;
    padding: 10px 0px;
    border-bottom: 3px dashed rgb(238, 191, 194);
}

li {
    color: rgba(122, 151, 167, 0.8);
    font-size: 25px;
    font-family: 'Nanum Myeongjo', sans-serif;
    font-weight: 600;
    line-height: 40px;
    list-style-type: none;
    margin: 10px 0px;
}

li:hover {
    transition: color 1s;
    color: rgb(248, 161, 174);
}

div.box {
    margin: 40px 0px;
    clear: both;
}

.special {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Nanum Myeongjo', sans-serif;
    color: rgb(122, 151, 167);
    width: 590px;
    padding: 15px;
    margin: 0px auto 50px;
    animation: chcolor 5s;
    animation-iteration-count: infinite;
}

@keyframes chcolor {
    0% {
        border: 2px solid #E3CBFF;
    }

    25% {
        border: 2px solid #92C2E8;
    }

    50% {
        border: 2px solid #A0F0C0;
    }

    75% {
        border: 2px solid rgb(248, 161, 174);
    }

    100% {
        border: 2px solid #E3CBFF;
    }
}

#end {
    text-align: center;
    border-bottom: none;
}

.modal-wrap {
    width: 300px;
    margin: 30px;
    float: left;
}

.content {
    width: 300px;
    height: 300px;
    display: inline-block;
    float: left;
    font-size: 25px;
    background-color: rgba(228, 181, 184, 0.6);
    color: rgb(122, 151, 167);
    transition: transform 0.5s, box-shadow 0.5s;
}

.content:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transform: scale(1.1, 1.1);
}

.save {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.imgbox {
    width: 100%;
    height: 85%;
    margin-bottom: 6px;
    background-color: darkgray;
    overflow: hidden;
    position: relative;

}

img {
    height: 100%;
    position: absolute;
}

div.contact {
    margin: 50px auto;
    width: 1050px;
    height: 600px;
    background-color: rgb(122, 151, 167);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 20px 20px 20px;
}

.inbox {
    width: 1030px;
    height: 580px;
    background-color: floralwhite;
    padding: 10px;

}

.context {
    color: rgb(238, 191, 194);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    font-size: 60px;
    border-bottom: 2px solid rgb(238, 191, 194);
    margin-bottom: 50px;
    padding-left: 30px;
}

div.profile {
    height: 300px;
    text-align: center;
    background-image: url(../res/profile.png);
    background-size: 230px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 1s;
}

div.profile:hover {
    transform: scale(1.2, 1.2);
}

p.me {
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Nanum Gothic', sans-serif;
}

.mewrap {
    width: 400px;
    height: 400px;
    padding: 0px 0px;
    border-right: 2px solid rgb(238, 191, 194);
    float: left;
}

div.mailme {
    float: left;
    width: 550px;
    height: 400px;
    margin: 40px 0px 20px 30px;
    text-align: center;
}

p.additional {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

p.left {
    font-size: 22px;
    width: 430px;
    margin: 40px 20px;
    display: inline-block;
    float: left;
}

div.rightimg {
    float: left;
    background-image: url(../res/jack-hung-tr-1265649-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 300px;
    margin-left: 30px;
}

li.proj {
    display: inline-block;
    margin: 20px;
}

ul {
    text-align: center;
}

[id^=modal] {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 000, 0.4);

}

input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
}

#modal1:target {
    display: block;

}

#modal2:target {
    display: block;
}

[id^=modal] a {
    float: right;
    margin: 10px 15px;
}

div.modal-content {
    width: 1100px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    min-height: 500px;
    max-width: 70%;
    overflow-y: scroll;
    overflow-x: hidden;

}

div.modal-close {
    transform: scale(2, 2)rotate(45deg);
    color: black;
}

a.close2 {
    color: black;
    font-size: 25px;
    margin: 10px 50%;
    float: left;
}

.modal-main {
    width: 80%;
    margin: 30px auto;
}

.modal-main-text {
    font-size: 45px;
    font-family: 'Song Myung', serif;
    border-bottom: 1px solid black;
    padding: 0 0 15px 0;
    margin-bottom: 50px;
}

.modal-sub-text {
    color: black;
    font-size: 21px;
}

div.img {
    margin: 10px auto;
    width: 800px;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
}
